---
title: "About"
layout: module.hbs
module: true
---

<!-- module:about -->
{{#parseFixture 'about.json'}}
<div class="about">

	<div class="row">
		<div class="columns">

			<div class="about__content">

				<div class="user-markup">

					<h2>{{{title}}}</h2>

					<p>I grew up in a ski town in northern Vermont. In 2007, I moved to Pittsburgh, PA to attend <a href="https://www.cmu.edu/" title="Carnegie Mellon University Website" target="_blank">Carnegie Mellon University</a>, where I earned my B.F.A. in Communication Design and Human-Computer Interaction. After graduation, I began my career in user experience, but quickly discovered I had a knack for web development that I was also eager to explore. Since then, I've been learning and refining my development skillset, while utilizing my background in design and UX to make informed decisions as I code.</p>

					<p>I spend most of my free time cooking, being outdoors, and hanging out with <a href="https://www.instagram.com/ohheybutters/" title="@ohheybutters on Instagram" target="_blank">Butters</a>, my adorable golden retriever. I also enjoy skiing, singing, survivalism, volunteering, learning Greek, traveling, prog rock, good friends, and bad puns. {{svg "wink"}}</p>

				</div>

			</div>

		</div>
	</div>

</div>
{{/parseFixture}}

<!-- end module:about -->
