---
title: "Callouts"
layout: module.hbs
module: true
---

<!-- module:callouts -->
<div class="callouts{{#each modifiers}} callouts--{{this}}{{/each}}">
	<ul class="callouts__list clearfix">
		{{#each items}}

			<li class="callouts__item">

				{{> callout this}}

			</li>

		{{/each}}
	</ul>
</div>

<!-- end module:callouts -->
