---
title: "Global Footer"
layout: module.hbs
module: true
---

<!-- module:global-footer -->
{{#parseFixture 'global-footer.json'}}
<footer id="js-global-footer" class="global-footer">

	<a href="" class="show-on-focus" name="global-footer">Footer</a>

	<p class="global-footer__copyright">&copy; Design and Development by Sarah Harissis, <span id="js-current-year" class="current-year">2018</span>. All Rights Reserved.</p>

	<script>
		$('#js-current-year').text((new Date).getFullYear());
	</script>

</footer>
{{/parseFixture}}
<!-- end module:global-footer -->
