---
title: "Global Header"
layout: module.hbs
module: true
---

<!-- module:global-header -->
{{#parseFixture 'global-header.json'}}
<header id="js-global-header" class="global-header">

	<a href="" class="show-on-focus" name="global-header">Header</a>

	Global Header

	{{> primary-nav }}

</header>
{{/parseFixture}}
<!-- end module:global-header -->
