---
title: "Global Footer"
layout: module.hbs
module: true
---

<!-- module:global-footer -->
{{#parseFixture 'global-footer.json'}}
<footer id="js-global-footer" class="global-footer">

	<a href="" class="show-on-focus" name="global-footer">Footer</a>

	<div class="global-footer__logo logo-container">
		{{svg "logo"}}
	</div>

	<p class="global-footer__copyright">
		<span>&copy; Designed and developed by Sarah Harissis, <span id="js-current-year" class="current-year">2018</span>.</span>
		<span>All Rights Reserved.</span>
	</p>

</footer>
{{/parseFixture}}
<!-- end module:global-footer -->
