---
title: "Panels"
layout: module.hbs
module: true
---

<!-- module:panels -->
{{#parseFixture 'panels.json'}}
<div id="panels" class="panels clearfix">

	{{> portrait }}

	{{#each panels}}

		{{> panel this }}

	{{/each}}

</div>
{{/parseFixture}}

<!-- end module:panels -->
