* {
	font-family: $primary-font;
	padding: 0;
	margin: 0;
	border: 0;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: $default-color;
	vertical-align: baseline;
	line-height: 100%;
	// word-wrap: break-word;
}
html, body {
	height: 100%;
	font-weight: 300;
}
html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body.home {
	background-color: $almost-black; /* Fallback */
	background: url(i/camera.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	&.bg-fixed {
		background-attachment: fixed;
	}
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 100%;
	margin: $std-margin;
	@extend %font-bold;
}
h1 {
	font-size: 2.5rem;
	@include bp(m) {
		font-size: 3rem;
	}
}
h2 {
	font-size: 1.75rem;
	@include bp(m) {
		font-size: 2.25rem;
	}
}
h3 {
	font-size: 1.5rem;
	@include bp(m) {
		font-size: 1.75rem;
	}
}
h4 {
	font-size: 1.25rem;
	@include bp(m) {
		font-size: 1.5rem;
	}
}
h5 {
	font-size: 1.125rem;
	@include bp(m) {
		font-size: 1.25rem;
	}
}
h6 {
	font-size: 1rem;
	@include bp(m) {
		font-size: 1.125rem;
	}
}
p {
	line-height: 125%;
	margin: $std-margin;
	&.blurb {
		@include bp(m) {
			margin: 1.25rem $spacing*3;
		}
		@include bp(l) {
			margin: 1.25rem $spacing*6;
		}
	}
}
b {
	@extend %font-bold;
}
a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	@include transition(color 0.25s ease);
	@extend %font-normal;
	img {
		outline: none;
	}
	.fa {
		color: $link-color;
		@include transition(all 0.25s ease);
		&:hover {
			color: $link-hover-color;
		}
	}
	&:hover {
		color: $link-hover-color;
		.fa {
			color: $link-hover-color;
		}
	}
}
ul, ol {
	list-style: none;
	margin: $std-margin;
	line-height: 125%;
	li {
		margin: 0.25rem 0;
	}
}
img {
	border: 0;
	max-width: 100%;
	display: block;
}
.button {
	display: inline-block;
	background-color: $primary;
	color: $almost-white;
	padding: 0.5rem;
	@include transition(background-color 0.25s ease);
	@include border-radius(0.25rem);
	@extend %font-normal;
	&:hover {
		color: $almost-white;
		background-color: $link-color;
	}
}
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* For IE 6/7 */
.clearfix {
    zoom: 1;
}
.muted {
	opacity: 0.66;
	font-size: 0.75rem;
}
%circle {
	@include border-radius(50%);
}
%font-light {
	font-weight: normal; /* Fallback */
	font-weight: 300;
}
%font-normal {
	font-weight: normal; /* Fallback */
	font-weight: 400;
}
%font-bold {
	font-weight: normal; /* Fallback */
	font-weight: 700;
}
%white-text {
	*:not(a) {
		color: $almost-white;
	}
}
%white-background {
	background-color: $almost-white;
}
%light-gray-background {
	background-color: $light-warm-gray;
}
%section-heading {
	text-align: center;
	letter-spacing: 1px;
	// text-transform: uppercase;
}
