.header {
	h1 {
		margin-bottom: 0.5rem;
	}
	.tagline {
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
		font-size: 1.25rem;
		color: $primary;
		@extend %font-normal;
		.fa {
			font-size: 0.5rem;
		}
		@include bp(m) {
			font-size: 1.75rem;
		}
	}
}
