.header {
	.tagline {
		font-family: $display-font;
		font-size: 1.25rem;
		color: $primary;
		@extend %font-normal;
		.fa {
			font-size: 0.5rem;
		}
		@include bp(m) {
			font-size: 1.75rem;
		}
	}
}