.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

// .icon-logo {
//   width: 0.541015625em;
// }
//
// .icon-code2 {
//   width: 1.25em;
// }
//
// .icon-expand3 {
//   width: 0.857421875em;
// }
//
// .icon-search {
//   width: 0.9287109375em;
// }
//
// .icon-laptop {
//   width: 1.0712890625em;
// }
//
// .icon-monitor2 {
//   width: 1.0712890625em;
// }
//
// .icon-users {
//   width: 1.0712890625em;
// }
//
// .icon-user {
//   width: 0.7138671875em;
// }
//
// .icon-plug {
//   width: 1.0068359375em;
// }
//
// .icon-file {
//   width: 0.857421875em;
// }
//
// .icon-code {
//   width: 1.0712890625em;
// }
