.css-column, .image-column {
	position: relative;
	h3 {
		@include bp(s) {
			opacity: 1 !important;
		}
	}
	@include bp(m) {
		width: 50%;
		float: left;
	}
}
.css-column {
	@include bp(s) {
		left: 0% !important;
	}
}
.image-column {
	@include bp(s) {
		right: 0% !important;
	}
}
.image-logo-container, .css3-logo-outer-container {
	width: 275px;
	height: 275px;
}
.image-logo-container {
	margin: 1.25rem auto;
	img {
		opacity: 0.8;
	}
}
.css3-logo-outer-container {
	margin: 1.25rem auto 0;
}
.css3-logo-container {
	position: relative;
	width: 238px;
	height: 238px;
	margin: 50px;
	top: -11px; // top: 19px;
	left: -32px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.overlap-button {
	display: none;
	width: 11em;
	margin: 0 auto;
	text-align: center;
	@include bp(m) {
		display: block;
	}
}
.s-layer {
	z-index: 1;
	[class^="s-"] {
		position: absolute;
		background-color: $almost-black;
	}
	.s-top-circle, .s-bottom-circle {
		width: 150px;
		height: 150px;
		@extend %circle;
	}
	.s-top-circle {
		top: 0;
		left: 0;
	}
	.s-bottom-circle {
		bottom: 0;
		right: 0;
	}
	.s-connector {
		top: 88px;
		left: 75px;
		width: 88px;
		height: 62px;
	}
}
.h-layer {
	z-index: 2;
	[class^="h-"] {
		position: absolute;
		background-color: $almost-white;
	}
	.h-left-bar, .h-right-bar {
		width: 163px;
		height: 28px;
	}
	.h-left-circle, .h-right-circle {
		width: 28px;
		height: 28px;
		@extend %circle;
	}
	.h-left-bar {
		left: 0;
		bottom: 61px;
	}
	.h-left-circle {
		bottom: 61px;
		right: 61px;
	}
	.h-connector {
		left: 107px;
		top: 61px;
		width: 24px;
		height: 116px;
	}
	.h-right-bar {
		right: 0;
		top: 61px;
	}
	.h-right-circle {
		top: 61px;
		left: 61px;
	}
}
