// Use this file to store common values like
// font size, z index, etc.

// Foundation overrides
@import 'overrides/_foundation';

// Breakpoints
$header-breakpoint: large; // Used for consistent mobile to desktop header style switching
$layout-breakpoint: medium;
$below-header-breakpoint: ($layout-breakpoint - rem-calc(1)) down;
$type-breakpoint: large;

// Timing
$transition-time: 0.3s; // Common transition time for hover states, etc.
$panel-transition-time: 1.5s;

// Fonts
$lekton: 'Lekton', monospace;
$rubik: 'Rubik', Helvetica, Arial, sans-serif;
$shrikhand: 'Shrikhand', serif;
$display-font: $shrikhand;

// Colors
$placeholder-color: $almost-black;
$dark-link-color: $red-violet;

// Misc
$cool-gradient: linear-gradient($purple 0%, $fuschia 25%, $red-violet 50%, $red 75%, $gold 100%) 1 100%;
$hover-classes: '.md-no-touchevents &';
$standard-blur: 2px;
$standard-border: 4px;
$standard-padding: rem-calc(30);
$standard-inset-shadow: inset 0 -1px 15px 0 rgba($almost-black, 0.15);
$standard-transparency: 0.5;
$narrow-max-width: $global-width*0.75;
$standard-letter-spacing: 0.01em;
