// Use this file to store common values like
// font size, z index, etc.

// Foundation overrides
@import 'overrides/_foundation';

// Breakpoints
$header-breakpoint: large; // Used for consistent mobile to desktop header style switching
$below-header-breakpoint: medium down;
$layout-breakpoint: rem-calc(900);

// Timing
$transition-time: 0.425s; // Common transition time for hover states, etc.
$panel-transition-time: 1.5s;

// Fonts
$quicksand: 'Quicksand', sans-serif;
$nanum: 'Nanum Gothic Coding', monospace;
$vollkorn: 'Vollkorn', serif;
$dosis: 'Dosis', sans-serif;

// Colors
$placeholder-color: $black;
$geyser: #dae4e3;

// Misc
$standard-padding: rem-calc(20);
