.container {
	position: relative;
	z-index: 1;
}

.main {
	// overflow: hidden;
	// overflow-x: hidden;
}

.white-background {
	color: $almost-black;
	background-color: $alt-almost-white;
}

.row {
	padding-left: $standard-padding/2;
	padding-right: $standard-padding/2;
}

.intro {
	text-align: center;

	.row {
		max-width: $narrow-max-width;
		margin: 0 auto;
	}

}

.semibold {
	font-weight: 500;
}

.nowrap {
	white-space: nowrap;
}

.logo-container {

	&:hover .icon-logo {
		transform: rotate(180deg);
	}

	.icon-logo {
		transform: rotate(0deg);
		transition: transform $transition-time;
	}

}
