.container {

}

.main {
	// overflow: hidden;
	// overflow-x: hidden;
}

.white-background {
	color: $almost-black;
	background-color: $alt-almost-white;
}

.row {
	padding-left: $standard-padding/2;
	padding-right: $standard-padding/2;
}

.intro {
	text-align: center;

	.user-markup {
		max-width: $global-width*0.66;
		margin: 0 auto;
	}

}
