<!-- partial:panel -->
<section id="{{id}}" class="panel panel--{{id}}">

	{{#if overlay}}

		<div class="panel__overlay">
			<a href="#" class="panel__center" title="Click to interact">
				<span class="show-for-sr">Click to interact</span>
				{{svg "logo"}}
			</a>
		</div>

	{{/if}}

	<div class="panel__content">
		<h2>I am panel content.</h2>
		<p>{{placeholderText medium}}</p>
	</div>

</section>
<!-- end partial:panel -->
