<!-- partial:project -->
<div class="columns phablet-6 large-4">
	<article class="project clearfix">

		<div class="project__image">
			<img src="{{img}}" alt="Image associated with {{{title}}}">
		</div>

		<div class="project__content white-background">
			<div class="project__content-inner">

				<div class="user-markup">

					<h3>{{{title}}}</h3>

					{{#if subtitle}}
						<h4 class="subheading">{{{subtitle}}}</h4>
					{{/if}}

				</div>

				{{#if roles}}
					{{> roles roles}}
				{{/if}}

			</div>
		</div>

	</article>
</div>
<!-- end partial:project -->
