<!-- partial:roles -->
<div class="roles clearfix">
	<ul class="roles__list clearfix">
		{{#each this}}

			<li class="role role--{{type}}">
				{{svg icon}}
				<span class="role__text">{{{title}}}</span>
			</li>

		{{/each}}
	</ul>
</div>
<!-- end partial:roles -->
