.callout {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	overflow: hidden;
	position: relative;

	&__icon {
		width: rem-calc(50);
		height: rem-calc(50);
		margin: 0 auto $standard-padding;

		@include breakpoint(medium) {
			width: rem-calc(100);
			height: rem-calc(100);
		}

	}

	&__heading {
		text-align: center;
	}

	&__cta {
		display: inline-block;

		.icon {
			vertical-align: middle;
			width: 1em;
			height: 1em;
		}

	}

}
