%nav-icon-active {
	opacity: 1;
	color: $almost-black;
	transform: rotate(180deg);
}

%nav-active {
	box-shadow: 0 1px 10px 0 rgba($almost-black, 0.1);
	transform: translateY(0%);
}

.navigation {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$nav-close-delay: 2.25s; // Delay before nav hides again

	// Styles
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	&--no-interaction {

		#{$this}__toggle .icon {

			body:not(.recently-loaded) & {
				animation: shake 3.5s ease-out infinite;
			}

		}

	}

	&--active,
	.md-no-js &,
	.md-no-touchevents &:hover,
	.md-no-touchevents &:focus {

		#{$this}__toggle .icon,
		#{$this}__nav {
			transition-delay: 0s;
		}

		#{$this}__toggle .icon {
			@extend %nav-icon-active;
		}

		#{$this}__nav {
			@extend %nav-active;
		}

	}

	.md-no-touchevents &__toggle {

		&:hover,
		&:focus {

			.icon {
				@extend %nav-icon-active;
			}

			#{$this}__nav {
				@extend %nav-active;
			}

		}

	}

	&__toggle,
	&__nav,
	&__item,
	&__link {
		height: $nav-height-small;

		@include breakpoint($global-width + $standard-padding) {
			height: $nav-height-large;
		}

	}

	&__toggle .icon,
	&__nav {

		.md-no-touchevents & {
			transition-delay: $nav-close-delay; // Fix opposite
		}

	}

	&__toggle {
		z-index: 1;
		width: rem-calc(40);
		display: inline-block;
		padding: rem-calc(0 10 0 0);
		position: absolute;
		top: 0;
		left: 0;

		@include breakpoint($global-width + $standard-padding) {
			padding: 0;
		}

		.icon {
			color: $dark-link-color;
			opacity: 0.89;
			transform: scale(1);
			transition-property: transform, color, opacity;
			transition-duration: $transition-time, $transition-time, $transition-time;
		}

	}

	&__nav {
		box-shadow: 0 1px 10px 0 transparent;
		background-color: rgba($white, 0.95);
		padding-left: rem-calc(40);
		padding-right: rem-calc(20);
		transform: translateY(-101%);
		transition-property: transform, box-shadow;
		transition-duration: $transition-time, $transition-time;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&__list {
		font-size: rem-calc(14);
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include breakpoint(medium) {
			font-size: rem-calc(16);
		}

		@include breakpoint($type-breakpoint) {
			font-size: rem-calc(18);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(20);
		}

	}

	&__item {
		text-align: center;
	}

	&__link {
		font-weight: 500;
		line-height: 1;
		padding: 0.25em 0.25em 0.45em;
		min-width: rem-calc(40);
		display: flex;
		align-items: center;
		justify-content: center;

		&,
		&:hover,
		&:focus {
			color: $almost-black;
		}

		&:hover,
		&:focus {

			#{$this}__link-text:after {
				width: 100%;
			}

		}

	}

	&__link-text {
		display: inline-block;
		position: relative;

		&:after {
			content: '';
			background-color: currentColor;
			display: block;
			height: rem-calc(2);
			position: absolute;
			left: 50%;
			transform: translatex(-50%);
			bottom: -0.25em;
			width: 0%;
			transition: width $transition-time;
		}

	}

}
