.portrait {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$transition-time: $panel-transition-time;

	// Styles
	width: rem-calc(250);
	height: rem-calc(250);
	margin: 0 auto;

	&:hover,
	&:focus {

		#{$this}__image {

			&--primary {
				display: none;
			}

			&--secondary {
				display: block;
			}

		}

	}

	&__image {
		border-radius: 100%;
		display: none;
		width: 100%;
		height: 100%;

		&--primary {
			display: block;
		}

	}

}
