.portrait {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	@extend %square-scale;
	background-color: rgba($almost-white, $standard-transparency);
	border-radius: 100%;
	width: 100%;
	max-width: rem-calc(220);
	margin: 0 auto $standard-padding;
	position: relative;

	@include breakpoint(phablet) {
		max-width: none;
		margin: 0;
	}

	&--show-eyebrow-raise {

		#{$this}__image--eyebrow-raise {
			display: block;
		}

	}

	// scss-lint:disable NestingDepth, SelectorDepth, QualifyingElement
	html:hover &,
	body.recently-loaded &,
	.md-touchevents &,
	.md-no-js & { // Times when the furrowed brow shouldn't appear

		&:hover,
		&:focus {

			#{$this}__image {

				&--eyebrow-raise {
					display: block;
				}

			}

		}

		#{$this}__image {

			&--smile {
				display: block;
			}

		}

	}
	// scss-lint:enable NestingDepth, SelectorDepth, QualifyingElement

	&__image {
		@extend %overlay;
		border-radius: 100%;
		display: none;
		padding: rem-calc(8);

		&--smile {
			z-index: 2;
		}

		&--eyebrow-raise {
			z-index: 3;
		}

		&--furrowed-brow {
			z-index: 1;
			display: block;
		}

	}

}
