.project {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$layout-breakpoint: phablet;

	// Styles
	overflow: hidden;
	width: 100%;
	position: relative;
	// margin-bottom: $standard-padding;

	@include breakpoint($layout-breakpoint) {
		// padding-bottom: rem-calc(150);
	}

	&__image {
		position: relative;

		&:before,
		&:after {
			@extend %overlay;
			content: '';
			display: block;
		}

		&:before {
			box-shadow: inset 0 5px 15px 0 rgba($almost-black, 0.15);
		}

		&:after {
			background-color: rgba($almost-black, 0.1);
		}

	}

	&__content {
		z-index: 1;
		width: calc(100% - #{rem-calc(40)});
		position: absolute;
		bottom: rem-calc(20);
		left: rem-calc(20);

		&-inner {
			padding: rem-calc(20);
		}

		&.white-background {
			// background: $white;
		}

		h3,
		h4 {
			margin-bottom: 0.25em;
		}

		h3 {
			font-size: rem-calc(18);

			@include breakpoint($type-breakpoint) {
				font-size: rem-calc(20);
			}

		}

		h4 {
			font-size: rem-calc(16);

			@include breakpoint($type-breakpoint) {
				font-size: rem-calc(18);
			}

		}

	}

	.roles {
		margin-top: rem-calc(10);
	}

}
