.social {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles

	&__list {
		margin-left: rem-calc(-5);
		margin-right: rem-calc(-5);

		@include breakpoint($type-breakpoint) {
			margin-left: 0;
			margin-right: 0;
		}
		
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: block;
		width: rem-calc(40);
		height: rem-calc(40);
		margin: 0 auto;
		padding: rem-calc(5);

		@include breakpoint($type-breakpoint) {
			padding: 0;
		}

	}

}
