.social {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles

	li {
		display: inline-block;
		margin-right: rem-calc(20);

		&:last-child {
			margin-right: 0;
		}

	}

	a {
		display: block;
		width: rem-calc(40);
		height: rem-calc(40);
	}

	.icon {

	}

}
