// scss-lint:disable VendorPrefix

// Background Color Fade

@-webkit-keyframes background-color-fade {

	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}

}

@-moz-keyframes background-color-fade {

	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}

}

@keyframes background-color-fade {

	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}

}

// Spin 180

@-webkit-keyframes spin-180 {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}

}

@-moz-keyframes spin-180 {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}

}

@keyframes spin-180 {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}

}

// Scale Up/Down

@-webkit-keyframes scale-up-down {

	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.9);
	}

}

@-moz-keyframes scale-up-down {

	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.9);
	}

}

@keyframes scale-up-down {

	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.9);
	}

}

// Shake

@-webkit-keyframes shake {

	0% {
		transform: rotate(0deg);
	}

	2% {
		transform: rotate(30deg);
	}

	6% {
		transform: rotate(-30deg);
	}

	10% {
		transform: rotate(20deg);
	}

	14% {
		transform: rotate(-20deg);
	}

	16% {
		transform: rotate(0deg);
	}

}

@-moz-keyframes shake {

	0% {
		transform: rotate(0deg);
	}

	2% {
		transform: rotate(30deg);
	}

	6% {
		transform: rotate(-30deg);
	}

	10% {
		transform: rotate(20deg);
	}

	14% {
		transform: rotate(-20deg);
	}

	16% {
		transform: rotate(0deg);
	}

}

@keyframes shake {

	0% {
		transform: rotate(0deg);
	}

	2% {
		transform: rotate(30deg);
	}

	6% {
		transform: rotate(-30deg);
	}

	10% {
		transform: rotate(20deg);
	}

	14% {
		transform: rotate(-20deg);
	}

	16% {
		transform: rotate(0deg);
	}

}

// scss-lint:enable VendorPrefix
