body {
	overflow-x: hidden; // Prevents horizontal scroll bug that occurs a lot in IE
	position: relative;

	&:before {

		$background-darken: 17.5%;

		content: '';
		opacity: 0.9;
		z-index: -1;
		background: linear-gradient(150deg, darken($purple, $background-darken) 20%, darken($red-violet, $background-darken) 50%, darken($red, $background-darken) 80%);
		background-size: 250% 250%;
		animation: background-color-fade 20s ease infinite;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transform: scale(1.05); // To prevent seeing edges

	}

	* {
		// Better defaults for `background` so we can just do background: url(image) and not have to set anything else.
		background-color: transparent;
		background-position: top center;
		background-repeat: no-repeat;

		// Allow non-breaking characters to wrap
		word-break: break-word;
		word-wrap: break-word;

		// Box Sixing
		box-sizing: border-box;
	}

}
