// Try modifying /helpers/overrides/_foundation.scss before setting global heading styles here

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.015em;
	// text-transform: uppercase;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.subheading {
	font-weight: 500;
}
