// A better looking default horizontal rule
hr {
	border: 0;
	background-color: currentColor;
	display: block;
	height: $standard-border;
	margin: $standard-padding/2 0;
	padding: 0;

	&.narrow {
		width: rem-calc(180);
	}

	&.tall {
		margin: $standard-padding 0;
	}

	&.thick {
		border-radius: $standard-border*0.75;
		height: $standard-border*1.5;
	}

	&.gradient {
		@extend %animated-background-gradient;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}

	&.transparent {
		opacity: $standard-transparency;
	}

	&.thin {
		border-radius: $standard-border/4;
		height: $standard-border/2;
	}

}
