// A better looking default horizontal rule
hr {
	border-width: 1px 0 0;
	border-style: solid;
	border-color: $silver;
	display: block;
	height: 1px;
	margin: $standard-padding/2 0;
	padding: 0;

	&.gradient {
		@extend %animated-background-gradient;
		border: 0;
		border-radius: $standard-border/2;
		height: $standard-border;
	}

	&.small {
		width: rem-calc(180);
	}

	&.tall {
		height: $standard-border*1.5;
		margin: $standard-padding 0;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}

}
