// A better looking default horizontal rule
hr {
	border-width: 1px 0 0;
	border-style: solid;
	border-color: $silver;
	display: block;
	height: 1px;
	margin: $standard-padding/2 0;
	padding: 0;

	&.narrow {
		width: rem-calc(180);
	}

	&.tall {
		background-color: currentColor;
		border: 0;
		border-radius: $standard-border*0.75;
		height: $standard-border*1.5;
		margin: $standard-padding*0.75 0;
	}

	&.gradient {
		@extend %animated-background-gradient;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}

}
