// Opinion: No underlines on links, but always underlines on hover (ian)
a {

	&.cta {
		font-size: 1.25em;

		&:hover,
		&:focus {

			.icon {
				left: 0.25em;
			}

		}

		&,
		.user-markup & {
			font-weight: 700;
		}

		.user-markup & {

			&:before,
			&:after {
				display: none;
			}

		}

		.icon {
			vertical-align: middle;
			width: 1.1em;
			height: 1.1em;
			position: relative;
			top: -0.08em;
			left: 0;
			transition: left $transition-time;
		}

	}

	.icon {
		transition: color $transition-time;
	}

	.user-markup & {

		$transition-time: 0.625s;

		transition: color $transition-time;
		line-height: 1.25;
		font-weight: 500;
		display: inline-block;
		position: relative;

		// Underline Effect
		&:hover,
		&:focus {

			&:before,
			&:after {
				transition: width $transition-time/2;
			}

			&:before {
				width: 100%;
				transition-delay: $transition-time*0.4;
			}

			&:after {
				width: 0%;
			}

		}

		&:before,
		&:after {
			content: '';
			opacity: 0.89;
			background-color: currentColor;
			display: block;
			height: 0.1em;
			position: absolute;
			bottom: -0.1em;
		}

		&:before {
			width: 0%;
			left: 0;
		}

		&:after {
			width: 100%;
			right: 0;
		}

		// In/Out Effect
		// &:hover,
		// &:focus {
		//
		// 	&:before {
		// 		width: 0%;
		// 		transition-delay: 0s;
		// 	}
		//
		// 	&:after {
		// 		width: 100%;
		// 		transition-delay: $transition-time*0.4;
		// 	}
		//
		// }
		//
		// &:before,
		// &:after {
		// 	content: '';
		// 	background-color: currentColor;
		// 	display: block;
		// 	height: 0.1em;
		// 	position: absolute;
		// 	left: 50%;
		// 	bottom: -0.1em;
		// 	transform: translateX(-50%);
		// 	transition: width $transition-time/2;
		// }
		//
		// &:before {
		// 	width: 100%;
		// 	transition-delay: $transition-time*0.4;
		// }
		//
		// &:after {
		// 	width: 0%;
		// 	transition-delay: 0s;
		// }

	}

}
