.about {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	padding: $standard-padding 0;
	position: relative;

	.user-markup {
		text-shadow: 0.1em 0.15em 0.3em rgba($almost-black, 0.15);

		p {
			font-weight: 500;
		}

		a {
			font-weight: 700;
		}

	}

}
