.about {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	padding: $standard-padding 0;
	position: relative;

	.row {
		z-index: 1;
	}

	.columns {
		position: relative;
	}

	.user-markup {
		text-shadow: 0.1em 0.15em 0.3em rgba($almost-black, 0.5);

		p {
			font-weight: 500;
		}

	}

}
