.callouts {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$item-gutter: rem-calc(30);

	// Styles

	ul {
		@extend %list-reset;

		&#{$this}__list {
			margin-left: -($item-gutter/2);
			margin-right: -($item-gutter/2);
		}

		&.callout__roles {
			margin-left: -0.5em;
			margin-right: -0.5em;
			margin-bottom: rem-calc(15);
		}

	}

	&__item {
		padding-left: $item-gutter/2;
		padding-right: $item-gutter/2;
		margin-bottom: $item-gutter;

		@include breakpoint(rem-calc(600)) {
			float: left;
			width: 50%;
		}

		@include breakpoint(rem-calc(900)) {
			width: 33.33333%;
		}

		&:nth-child(2n+1) {

			@include breakpoint(rem-calc(600)) {
				clear: left;
			}

			@include breakpoint(rem-calc(900)) {
				clear: none;
			}

		}

		&:nth-child(3n+1) {

			@include breakpoint(rem-calc(900)) {
				clear: left;
			}

		}

	}

}
