.global-footer {
	opacity: 0.6;
	text-align: center;
	width: 100%;
	padding: rem-calc(10);

	&__logo {
		width: rem-calc(24);
		height: rem-calc(24);
		margin: 0 auto rem-calc(10);
	}

	&__copyright {
		font-size: rem-calc(12);
		line-height: 1.25;

		> span {
			display: inline-block;
		}

	}

}
