.media {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$layout-breakpoint: phablet;

	// Styles

	&__row {
		// border-top: 1px solid darken($really-light-gray, 2%);
		color: $almost-black;
		background-color: $alt-almost-white;
		padding-top: $standard-padding;
		padding-bottom: $standard-padding;

		@include breakpoint($layout-breakpoint) {

			&:nth-child(2n) {

				.columns:nth-child(1) {
					left: 50%;
				}

				.columns:nth-child(2) {
					left: -50%;
				}

			}

		}

		@include breakpoint(medium) {

			&:nth-child(2n) {

				.columns:nth-child(1) {
					left: 58.33333%;
				}

				.columns:nth-child(2) {
					left: -41.66666%;
				}

			}

		}

		@include breakpoint(large) {
			padding-top: $standard-padding*2;
			padding-bottom: $standard-padding*2;
		}

		@include breakpoint(xlarge) {
			padding-top: $standard-padding*3;
			padding-bottom: $standard-padding*3;
		}

		&:nth-child(2n) {
			background-color: rgba($really-light-gray, 0.98);
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.row {

		@include breakpoint($layout-breakpoint) {
			display: flex;
			align-items: stretch;
		}

	}

	.columns {
		position: relative;
	}

	.inner {
		position: relative;
		height: 100%;

		@include breakpoint($layout-breakpoint) {
			overflow: hidden;
			// max-height: rem-calc(600);
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}

	&__column {

		&--image {
			margin-bottom: $standard-padding;

			@include breakpoint($layout-breakpoint) {
				margin-bottom: 0;
			}

		}

	}

	&__image {
		position: relative;

		&:before {
			@extend %overlay;
			content: '';
			z-index: 1;
			box-shadow: $standard-inset-shadow;
			pointer-events: none;
			display: block;
		}

		a,
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}

	}

	&__content {
		width: 100%;

		@include breakpoint(large) {
			width: auto;
			width: 100%;
		}

	}

	&__header {
		margin-bottom: $standard-padding;

		@include breakpoint(large) {
			margin-bottom: $standard-padding*2;
		}

		#{$this}__title,
		#{$this}__subtitle {
			margin-bottom: 0.25em;
		}

	}

	.roles {
		margin-top: $standard-padding/2;
	}

}
