.media {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;
	$layout-breakpoint: phablet;

	// Styles

	&__row {
		@extend %standard-section-padding;
		// border-top: 1px solid darken($really-light-gray, 2%);
		color: $almost-black;
		background-color: $alt-almost-white;

		&:nth-child(odd) {

			@include breakpoint(xlarge) {

				.media__content {
					padding-left: $standard-padding;
				}

			}

		}

		&:nth-child(even) {
			background-color: rgba($really-light-gray, 0.98);

			@include breakpoint($layout-breakpoint) {

				.columns:nth-child(1) {
					left: 50%;
				}

				.columns:nth-child(2) {
					left: -50%;
				}

			}

			@include breakpoint(medium) {

				.columns:nth-child(1) {
					left: 58.33333%;
				}

				.columns:nth-child(2) {
					left: -41.66666%;
				}

			}

			@include breakpoint(xlarge) {

				.media__content {
					padding-right: $standard-padding;
				}

			}

		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.row {

		@include breakpoint($layout-breakpoint) {
			display: flex;
			align-items: stretch;
		}

	}

	.columns {
		position: relative;
	}

	.inner {
		position: relative;
		height: 100%;

		@include breakpoint($layout-breakpoint) {
			overflow: hidden;
			// max-height: rem-calc(600);
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

	}

	&__column {

		&--image {
			margin-bottom: $standard-padding;

			@include breakpoint($layout-breakpoint) {
				margin-bottom: 0;
			}

		}

	}

	&__image {

		$this: &;

		position: relative;

		&:before {
			@extend %overlay;
			content: '';
			z-index: 1;
			box-shadow: $standard-inset-shadow;
			pointer-events: none;
			display: block;
		}

		a,
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}

		&-overlay {
			@extend %overlay;
			content: '';
			opacity: 0;
			transition: opacity $transition-time;
			background-color: rgba($almost-black, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;

			.icon {
				color: $alt-almost-white;
				width: 15%;
				height: 15%;
				transform: scale(2);
				transition: transform $transition-time;
			}

		}

	}

	&__image-link {

		&:hover #{$this}-overlay,
		&:focus #{$this}-overlay {
			opacity: 1;

			.icon {
				transform: scale(1);
			}

		}

	}

	&__content {
		width: 100%;
	}

	&__header {
		margin-bottom: $standard-padding;

		@include breakpoint(large) {
			margin-bottom: $standard-padding*2;
		}

		#{$this}__title,
		#{$this}__subtitle {
			margin-bottom: 0.2em;
		}

	}

	.roles {
		margin-top: rem-calc(20);
	}

	.cta {
		margin-top: rem-calc(10);
	}

}
