.panels {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	width: 100%;
	max-width: rem-calc(1400);
	height: 100vh;
	position: relative;
	margin: 0 auto;

	&--ready {

		.panel__content {
			opacity: 1;
			top: 33.33333%;

			@include breakpoint($layout-breakpoint) {
				top: 49%;
				left: 25%;
			}

		}

		.portrait {
			top: 66.66666%;

			@include breakpoint($layout-breakpoint) {
				top: 49%;
				left: 75%;
			}

		}

	}

}
