@mixin bp($point) {
	@if $point == s {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}
	@if $point == m {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}
	@if $point == l {
		@media only screen and (min-width: 1100px) {
			@content;
		}
	}
}

@mixin background-pattern {
	background: url(i/bgs/trianglify-background.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}