//------- Fonts --------//
$primary-font: 'Assistant', Helvetica, Arial, sans-serif;

//------- Colors -------//
$white: #FFF;
$black: #000;
$almost-white: #EFEDE9;
$almost-black: #0E1000; // Old: #23261a
$light-warm-gray: darken($almost-white, 5%);
$teal: #72beb9;
$plum: #913D88;
$primary: $teal;

$default-color: $almost-black;
$link-color: darken($primary, 15%);
$link-hover-color: darken($link-color, 15%);

//---- Measurements ----//
$spacing: 1.5rem;
$max-width: 1000px;
$std-margin: 1rem 0;
$section-border: 1px solid darken($almost-white, 10%);
