.about {
	background: url(i/bgs/school.png);
	// @extend %white-background;
	h2 {
		@extend %section-heading;
	}
	.about-left {
		p:first-child {
			margin-top: 0;
		}
		@include bp(m) {
			float: left;
			width: 60%;
			padding: 0 $spacing 0 0;
		}
	}
	.about-right {
		max-width: 500px;
		margin: 0 auto;
		display: none;
		@include bp(m) {
			max-width: none;
			margin: 0;
			float: right;
			width: 40%;
			display: block;
		}
	}
}