.about {
	background: url(i/bgs/school.png);
	// @extend %white-background;
	h2 {
		@extend %section-heading;
		@include bp(m) {
			margin-bottom: 0;
		}
	}
	.left,
	.right {
		@include bp(m) {
			float: left;
		}
	}
	.left {
		max-width: 200px;
		margin: 1rem auto;
		@include bp(m) {
			max-width: 235px;
			padding: 0 1.25rem 0 0;
		}
	}
	.right {
		@include bp(m) {
			width: calc(100% - 235px);
		}
	}
	.image-container {
		overflow: hidden;
		background-color: $primary;
		padding: 0.5rem;
		&,
		img {
			border-radius: 100%;
		}
	}
}
