.accordion-trigger {
	.fa-plus-circle {
		display: inline-block;
	}
	.fa-minus-circle {
		display: none;
	}
	&.open {
		.fa-plus-circle {
			display: none;
		}
		.fa-minus-circle {
			display: inline-block;
		}
	}
}
.accordion-body {
	display: none;
	border: 1px solid transparent; /* Bug fix for jumpy slideToggle */
	@extend .clearfix;
	.work & {
		margin-bottom: $spacing;
	}
}
