.header-logo {
	display: block;
	opacity: 0.66;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
	&:hover {
		opacity: 1;
		-webkit-transform:rotate(180deg);
	    -moz-transform:rotate(180deg);
	    -o-transform:rotate(180deg);
	}
}