.main-nav {
	float: right;
	ul {
		margin: 0;
	}
	li {
		float: left;
	}
	a {
		display: block;
		color: $almost-white;
		padding: $spacing/2;
		@extend %font-normal;
		&.contact-link {
			padding: $spacing/2 0 $spacing/2 $spacing/2;
		}
		&:hover {
			color: $primary;
		}
		@include bp(m) {
			letter-spacing: 1px;
		}
	}
}