.work-links {
	text-align: center;
	li {
		margin: 1em 0;
	}
	> li > a {
		font-size: 1rem;
		.fa-arrow-circle-right {
			position: relative;
			left: 0px;
			top: 0.05em;
			margin-left: 0.125em;
		}
		&:hover .fa-arrow-circle-right {
			left: 5px;
		}
		@include bp(m) {
			font-size: 1.25rem;
		}
	}
}
