.work {
	border-top: $section-border;
	@extend %white-background;
	h2 {
		@extend %section-heading;
	}
	p {
		text-align: center;
		max-width: $max-width * 0.66666;
		margin-left: auto;
		margin-right: auto;
	}
}
