<div class="access-nav" aria-role="navigation">
	<a class="show-on-focus" href="#js-global-header" tabindex="-1">Jump to Header</a>
	<a class="show-on-focus" href="#main" tabindex="-1">Jump to Main Content</a>
	<a class="show-on-focus" href="#js-global-footer" tabindex="-1">Jump to Footer</a>
</div>
