<div class="access-nav" aria-role="navigation">

	<a class="show-on-focus" href="#main" tabindex="-1">Jump to Main Content</a>

	{{#parseFixture 'panels.json'}}
		{{#each panels}}

			<a class="show-on-focus" href="#{{id}}" tabindex="-1">Jump to {{{title}}} section</a>

		{{/each}}
	{{/parseFixture}}

	<a class="show-on-focus" href="#js-global-footer" tabindex="-1">Jump to Footer</a>

</div>
