---
title: Home Page
template: true
layout: 'home.hbs'
---

<main id="main" class="main">

	<h1 class="show-for-sr">Sarah Harissis' Portfolio Website</h1>

	{{> navigation }}

	{{> _panels }}

	<div>

		{{#parseFixture '../../sass/icons/selection.json'}}
			{{#each icons}}
				<span style="display: inline-block; width: 100px; height: 100px;">
					{{svg properties.name}}
				</span>
			{{/each}}
		{{/parseFixture}}

	</div>

</main>
